#### Changelog

1. Q13.3 How many clams that are wider than 0.4, have first name "Monster"?   
2. Q13.4 What was the second name of a clam captured at March, 8, that was longer than 0.65 and wider than 0.57?
3. Q15.2 Create a new column `area` using diameter, length and considering that a clam is a perfect rectangle.
4. Q19.4 `density_by_age` groupby `age_cat` and compute average density of a clam.

# Assignment 1. Sea Ears.
by Anvar Kurmukov,
updated by Bogdan Kirillov

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using the data on a species of clam called abalone, also known as "Sea ears". This dataset is in public domain and can be obtained from Delve: http://www.cs.toronto.edu/~delve/data/abalone/desc.html For this task, we have modified the dataset slightly, so you could try out some complicated data manipulation techniques while keeping the dataset as simple as possible. So, in our case, each abalone clam is a promising rapper who is ready for a debut mixtape.

You need to place "sea_ears.csv" file in the same directory as this notebook.

In [1]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `sea_ears.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [2]:
COLAB_P = False
if COLAB_P:
  print("Upload your file, then read it with pd.read_csv()")
  from google.colab import files
  uploaded = files.upload()
  fn = list(uploaded.keys())[0]
  print("File is uploaded to ", fn)
else:
  print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Place your file to the same directory as the notebook, then read your file with pd.read_csv()

In [3]:
# Load the data

df = pd.read_csv("sea_ears.csv", index_col=0)

In [4]:
# Observe top 10 observations (int)
pd.set_option('display.max_rows', 100)
df.head(10)

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
0,835,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0
1,540,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0
2,2295,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0
3,858,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0
4,2329,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0
5,2648,DJ,Block,Head,20201224T000000,M,0.500,0.380,0.120,0.5765,0.2730,0.1350,0.1450,9.0
6,3723,Big,Full,Death,20200110T000000,I,0.470,0.355,0.120,0.4915,0.1765,0.1125,0.1325,9.0
7,251,Dungeon,Glam,Death,20200824T000000,M,0.590,0.470,0.180,1.1235,0.4205,0.2805,0.3600,13.0
8,1148,MC,College,Machine,20200623T000000,M,0.580,0.450,0.145,1.0025,0.5470,0.1975,0.2295,8.0
9,1949,Monster,Full,Kitty,20200202T000000,M,0.640,0.530,0.165,1.1895,0.4765,0.3000,0.3500,11.0

In [5]:
# Q1.1 What is the length of an abalone with id 986? 
# Q1.2 How many rings the fifth abalone with "FN" == "Fresh" has?
print(8)
# Q1.3 How many rings the sample with id 67 has?
# Q1.4 What is the `Height` of a thirty fourth sample with `Rings` == 10?
# Q1.5 How heavy as a whole is the female abalone #6?
print(0.979090)

# Please note that for some questions there are several answers. If that's the 
# case, show all of them. Also for some, there is none. If so, show the shape 
# of returned series in your output.

8
0.97909

In [6]:
# Observe last 10 observations (int)
df.tail(10)

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
5690,3883,Big,Glam,Man,20200211T000000,M,0.540,0.425,0.120,0.8170,0.2945,0.1530,0.1950,10.0
5691,3731,Monster,Glock,Machine,20200411T000000,F,0.550,0.415,0.180,1.1655,0.5020,0.3010,0.3110,9.0
5692,3856,Jalapeno,Rock,Kitty,20200719T000000,I,0.335,0.255,0.085,0.1785,0.0710,0.0405,0.0550,9.0
5693,1631,Boss,Glock,Man,20200810T000000,I,0.570,0.445,0.145,0.7405,0.3060,0.1720,0.1825,12.0
5694,283,Jalapeno,Full,Killer,20200804T000000,M,0.485,0.395,0.140,0.6295,0.2285,0.1270,0.2250,14.0
5695,181,Big,Block,Head,20200512T000000,M,0.640,0.510,0.175,1.3680,0.5150,0.2660,0.5700,21.0
5696,1324,Jalapeno,Full,Head,20201215T000000,I,0.565,0.440,0.175,0.8735,0.4140,0.2100,0.2100,11.0
5697,1242,Lil',Flow,Machine,20201206T000000,I,0.385,0.290,0.090,0.2615,0.1110,0.0595,0.0745,9.0
5698,2842,Boss,Full,Killer,20200101T000000,M,0.600,0.475,0.175,1.1100,0.5105,0.2560,0.2850,9.0
5699,2071,Baby,Glock,Machine,20200119T000000,F,0.565,0.440,0.135,0.8300,0.3930,0.1735,0.2380,9.0

In [7]:
# Q2.1 What is the diameter of a tenth abalone with second name Flow?
print(round(df.loc[df.SN=='Flow', 'Diam'].iloc[9], 5))
# Q2.2 What is the weight of a shell for 99-th abalone with first name Lil'?
print(df.loc[df.FN=="Lil'", 'Shell'].iloc[98])
# Q2.3 How many rings twelfth abalone with first name MC' has?
# Q2.4 How many rings the 666-th abalone has?
# Q2.5 What is the gender of 1337-th abalone?

0.45159
0.22

In [8]:
# Increase maximal displayed columns

####I don't know what is written about here. I see all the columns
pd.set_option('display.max_columns', 100)

In [9]:
# Observe top 10 observations again
# Is there any new columns displayed?

df.head(10)
####Nope, I have seen all of hem before (may be beacuse I use JupyterLab)

,id,FN,SN,LN,Captured,Sex,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
0,835,Kid,College,Machine,20200621T000000,I,0.450,0.350,0.130,0.5470,0.2450,0.1405,0.1405,8.0
1,540,Jalapeno,Glam,Machine,20200308T000000,F,0.500,0.375,0.140,0.6040,0.2420,0.1415,0.1790,15.0
2,2295,Baby,Full,Killer,20200222T000000,F,0.520,0.415,0.145,0.8045,0.3325,0.1725,0.2850,10.0
3,858,Kid,Rock,Head,20200222T000000,F,0.595,0.480,0.150,1.1100,0.4980,0.2280,0.3300,10.0
4,2329,Boy,Block,Death,20201219T000000,I,0.480,0.390,0.145,0.5825,0.2315,0.1210,0.2550,15.0
5,2648,DJ,Block,Head,20201224T000000,M,0.500,0.380,0.120,0.5765,0.2730,0.1350,0.1450,9.0
6,3723,Big,Full,Death,20200110T000000,I,0.470,0.355,0.120,0.4915,0.1765,0.1125,0.1325,9.0
7,251,Dungeon,Glam,Death,20200824T000000,M,0.590,0.470,0.180,1.1235,0.4205,0.2805,0.3600,13.0
8,1148,MC,College,Machine,20200623T000000,M,0.580,0.450,0.145,1.0025,0.5470,0.1975,0.2295,8.0
9,1949,Monster,Full,Kitty,20200202T000000,M,0.640,0.530,0.165,1.1895,0.4765,0.3000,0.3500,11.0

In [10]:
# Print all the columns/features names (int)
df.columns

Index(['id', 'FN', 'SN', 'LN', 'Captured', 'Sex', 'Length', 'Diam', 'Height',
       'Whole', 'Shucke', 'Viscera', 'Shell', 'Rings'],
      dtype='object')

In [11]:
# Q3.1 How many columns end with a vowel?
print(3)
# Q3.2 How many columns start with a vowel?
# Q3.3 Which columns are associated with the weight of the clam?
print("Columns 'Whole', 'Shucke', 'Viscera', 'Shell'")
# Q3.4 How many columns have `th` in their names?

3
Columns 'Whole', 'Shucke', 'Viscera', 'Shell'

In [12]:
df.shape

(5700, 14)

In [13]:
# Print data size (int)
df.shape
# Q4.1 How many observations are in the data?
print(df.shape[0])
# Q4.2 How many features are in the data?
print(df.shape[1])

5700
14

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [14]:
# Display number of not NaN's in every column (int)

# Q5.1 How many NA values are in the `Whole` column?
# Q5.2 How many NA values are in the `Rings` column?
# Q5.3 How many NA values are in the `Viscera` column?
print(df.shape[0] - df.count().loc['Viscera'])
# Q5.4 How many NA values are in the `FN` column?
print(df.shape[0] - df.count().loc['FN'])
# Q5.5 How many explicit NA values are in the `Shell` column?

542
0

In [15]:
# Count number of unique values in every column (int)

# Q6.1 How many unique values are in the `FN` column?
print(df.nunique()['FN'])
# Q6.2 How many unique values are in the `SN` column?
# Q6.3 How many unique values are in the `Rings` column?
# Q6.4 How many unique values are in the `Viscera` column?
# Q6.5 How many unique values are in the `Shell` column?
print(df.nunique()['Shell'])

12
1687

In [16]:
# Count frequency of the values in different columns (list of ints in ascending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`

# Q7.1 For every unique `FN` value give its number of occurences.
# Q7.2 For every unique `SN` value give its number of occurences.
print(df.SN.value_counts(ascending=True).tolist())
# Q7.3 For every unique `Rings` value give its number of occurences.
print(df.Rings.value_counts(ascending=True).tolist())
# Q7.4 For every unique `Sex` value give its number of occurences.
# Q7.5 For every unique `LN` value give its number of occurences.

[684, 690, 707, 709, 709, 711, 713, 777]
[1, 1, 2, 3, 3, 3, 7, 10, 11, 16, 18, 27, 38, 40, 49, 69, 83, 86, 121, 157, 170, 241, 316, 323, 475, 558, 661, 696, 775]

In [17]:
# Display basic data statistics using .describe()
df.describe()

,id,Length,Diam,Height,Whole,Shucke,Viscera,Shell,Rings
count,5700.000000,5545.000000,5079.000000,4931.000000,5687.000000,4334.000000,5158.000000,4938.000000,4960.000000
mean,2849.500000,0.547853,0.424571,0.154530,0.849702,0.361736,0.198908,0.253074,9.826613
std,1645.592598,0.130588,0.108177,0.059298,0.493289,0.222923,0.118113,0.145495,3.378726
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,0.000000
25%,1424.750000,0.465000,0.355000,0.120000,0.458250,0.188125,0.106154,0.140500,8.000000
50%,2849.500000,0.561707,0.435000,0.150000,0.816500,0.338750,0.188687,0.245000,9.000000
75%,4274.250000,0.635000,0.500000,0.176963,1.177500,0.504000,0.274500,0.345000,11.000000
max,5699.000000,0.968190,0.794032,1.130000,2.875274,1.488000,0.760000,1.044635,29.000000

In [18]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q8.1 What are the max, min, mean and the std of the `Viscera` column?

q8_1 = []
q8_1.append(round(df.Viscera.max(), 3))
q8_1.append(round(df.Viscera.min(), 3))
q8_1.append(round(df.Viscera.mean(), 3))
q8_1.append(round(df.Viscera.std(), 3))

print(q8_1)
# Q8.2 What are the max, min, mean and the std of the `Rings` column?
# Q8.3 What are the max, min, mean and the std of the `Length` column?

q8_3 = []
q8_3.append(round(df.Length.max(), 3))
q8_3.append(round(df.Length.min(), 3))
q8_3.append(round(df.Length.mean(), 3))
q8_3.append(round(df.Length.std(), 3))

print(q8_3)
# Q8.4 What are the max, min, mean and the std of the `Diam` column?
# Q8.5 What are the max, min, mean and the std of the `Whole` column?

[0.76, 0.001, 0.199, 0.118]
[0.968, 0.075, 0.548, 0.131]

In [19]:
df.dtypes[df.dtypes=='int64']

id    int64
dtype: object

In [20]:
# Display data types of all columns (int)
df.dtypes
# Q9.1 How many columns have `object` data type?
# Q9.2 How many columns have `int64` data type?
# Q9.3 How many columns have `float64` data type?
q9_3 = df.dtypes.value_counts()
print(q9_3[0])

# Display data types of all columns (list of str)
# Q9.4 What are the columns with dtype == `float64`?
# Q9.5 What are the columns with dtype == `int64`?
print('id')

8
id

In [21]:
df = df.dropna()

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [22]:
# Select rows by position (int) 

# Q10.1 What is the first name of a clam on row 777?
print(df.iloc[776, 1])
# Q10.2 What is the last name of a clam on row 999?
# Q10.3 How long is a clam from row 1337?
print(df.iloc[1336, 6])
# Q10.4 What is the gender of a clam from row 314?
# Q10.5 When was the clam with row of 2718 captured?

DJ
0.44

In [23]:
# Select rows by index (int)

# Q11.1 What is the gender of a clam with index 1102?
print(df.loc[1102, 'Sex'])
# Q11.2 How long is a clam with index 5695?
# Q11.3 How heavy is a clam with index 1045 when still alive?
print(df.loc[1045, "Whole"])
# Q11.4 When was the clam with index 252 captured?
# Q11.5 What is the middle name of a clam with index 38?

M
0.1835

In [24]:
# Using mask or .query syntax select rows/columns (int)

# Q12.1 How many clams have less than 5 rings?
print(df[df.Rings < 5].count()['id'])
# Q12.2 When were clams named "Boy Rock Killer" captured?
# Q12.3 How many clams have length more than 0.1?
print(df[df.Length > 0.1].count()['id'])
# Q12.4 How many clams are heavier (in shell) than 0.3?
# Q12.5 How many clams were captured at 24 of July?

74
4179

In [25]:
df.dtypes
#fall = 09, 10, 11 months

id            int64
FN           object
SN           object
LN           object
Captured     object
Sex          object
Length      float64
Diam        float64
Height      float64
Whole       float64
Shucke      float64
Viscera     float64
Shell       float64
Rings       float64
dtype: object

In [26]:
df.Captured = pd.to_datetime(df.Captured)

In [27]:
# Using mask or .query syntax select rows/columns (int)

# Q13.1 How many clams were captured in the fall? Including both start and end day.
print(df[(df.Captured.dt.month >= 9) & (df.Captured.dt.month <= 11)].shape[0])
# Q13.2 How many clams that were captured in the fall, have first name "Lil'"?
# Q13.3 How many clams that are wider than 0.4, have first name "Monster"?
# Q13.4 What was the second name of a clam captured at March, 8, that that was longer than 0.65 and wider than 0.57?
print(df[(df.Captured.dt.month == 3) & (df.Captured.dt.day == 8) & (df.Length > 0.65) & (df.Diam > 0.57)].loc[2207, 'SN'])
# Q13.5 How many rings does an infant clam that was captured in June and has shucked weight between 0.54 and 0.55 have?

1009
Flow

In [28]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q14.1 What was the average whole weight of clams named "Kitty"?
# Q14.2 What was the whole weight of the heaviest Lil' clam?
# Q14.3 What was the weight of the lightest in terms of whole weight clam captured in June?
print(df[(df.Captured.dt.month == 6)]['Whole'].min())
# Q14.4 What is the median length of clams captured in April?
# Q14.5 What is the minimum diameter of clams named "Master"?
print(df[df.LN == 'Master']['Diam'].min())

0.0235
0.1

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to compute total area of the house as a sum of all sqft_ columns, or create a boolean column of whether the house has grade > 2 or anything else:
```
data['total_area'] = data[col1] + data[col2] + ...
data['high_value'] = data[col] > 5
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of total_area and high_value using .apply():
```
data['total_area'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['total_area'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['total_area'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [29]:
# create full_name column with concatenation of all clam names
df['full_name'] = df.FN + ' '  + df.SN + ' ' + df.LN

In [30]:
# Create new columns using the old ones (new column in your DataFrame)

# Q15.1 Create a `age_in_years` column (age is the number of rings +1.5) using any method above
df['age_in_years'] = df[['Rings']].apply(lambda x: x + 1.5, axis=1)

# Q15.2 Create a new column `area` using diameter, length and considering that a clam is a perfect rectangle
df['area'] = df[['Length', 'Diam']].apply(lambda x: x[0] * x[1], axis=1)

# Q15.3 Create a new column `density` by dividing volume (area multiplied by a fixed number of 0.05) by whole weight
df['density'] = df[['Whole','area']].apply(lambda x: x[0] / (x[1] * 0.05), axis=1)


# Q15.4 Create a new column `age_cat` by splitting a `age` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
quantiles = df.age_in_years.quantile([.2, .4, .6, .8])

def _to_quantile(a, quantiles):
    if a <= quantiles[0.2]:
        return 1
    elif a <= quantiles[0.4]:
        return 2
    elif a <= quantiles[0.6]:
        return 3
    elif a <= quantiles[0.8]:
        return 4
    else:
        return 5
    
df['age_cat'] = df['age_in_years'].map(lambda x: _to_quantile(x, quantiles))
    
    
# Q15.5 Create a new bool column `high_class` it is True if clam has the proportion of shell in whole clam more or equal to 1
def _high_class(shell, whole):
    if shell / whole >= 1:
        return True
    else:
        return False
 
df['high_class'] = df[['Shell', 'Whole']].apply(lambda x:_high_class(x[0], x[1]), axis=1)

In [31]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average age of the clam of the high_class(=True)?
print(df[df.high_class].age_in_years.mean())
# Q16.2 What is the average area of the clam from highest age category?
# Q16.3 What is the maximal length amongst clams with the lowest age category?
print(round(df[df.age_cat == 1].Length.max(), 3))
# Q16.4 What is the most frequent gender amongst clams with the lowest age category?
# Q16.5 What is the minimal number of rings in clams with high_class=True?

7.5
0.736

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separete columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [32]:
# Create new columns based on `Captured` column

# Q17.1 Convert date to datetime format
df.Captured = pd.to_datetime(df.Captured)

# Q17.2 Extract and store `year`
df['year'] = df.Captured.dt.year

# Q17.3 Extract and store `month`
df['month'] = df.Captured.dt.month

# Q17.4 Extract and store `day`
df['day'] = df.Captured.dt.day

# Q17.5 Extract and store `weekday`
df['weekday'] = df.Captured.dt.weekday

# Q17.6 Create a new column `age10` - the age of the clam in full decades (e.g. 9 year old clam - 0, 21 year old clam - 2)
def _decade_age(age):
    if age <= 10:
        return 0
    elif age <= 20:
        return 1
    elif age <= 30:
        return 2
    else:
        return 3

df['age10'] = df['age_in_years'].map(_decade_age)
from datetime import datetime

In [33]:
# Drop column `Captured`

del df["Captured"]

In [34]:
# Find some date related information from the data (int)

# Q18.1 What is the most popular capturing weekday?
print(df.weekday.value_counts().idxmax())
# Q18.2 What is the most popular capturing month?
print(df.month.value_counts().idxmax())
# Q18.3 What is the least popular capturing weekday?
# Q18.4 What is the median age of the clam? (float)
# Q18.5 How many clams were captured on the Day of Russia (June, 12)?

4
3

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average area of houses with high grade you could compute average areas of the houses for every grade in a single command:
```
data.groupby('grade')['sqm_tot_area'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','grade'])['price'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','grade'])['price'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['condition','grade'])['bathrooms'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['condition'])['bathrooms'].median()
data['gp_feature'] = data['condition'].map(gp)
```
Now, if some house has condition == 2, its gp_feature will be equal to the median number of bathrooms amongst all houses with condition == 2.

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [35]:
# Create some groupby features

# Q19.1 `whole_by_year` groupby `year` and compute median whole weight.
whole_by_year = df.groupby('year')['Whole'].median()
print(whole_by_year)

print('\n')
# Q19.2 `shell_by_weekday` groupby `weekday` and compute median shell weight.
shell_by_weekday = df.groupby('weekday')['Shell'].median()
print(shell_by_weekday)

# Q19.3 `area_by_age` groupby `age_cat` and compute average `area`.
# Q19.4 `density_by_age` groupby `age_cat` and compute average density of a clam.

year
2020    0.79975
Name: Whole, dtype: float64


weekday
0    0.2400
1    0.2290
2    0.2280
3    0.2455
4    0.2400
5    0.2180
6    0.2215
Name: Shell, dtype: float64

In [36]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

# Q20.1 `rings_fn` groupby `n_rings` and count average number of occurences of every unique first name
print(df.groupby(['Rings', 'FN']).nunique().groupby('Rings').mean().iloc[:, 0])
print('\n')

# Q20.2 `n_month` groupby `month` and count number of captured in each month
print(df.groupby('month')['id'].count())

Rings
1.0      1.000000
2.0      1.000000
3.0      1.875000
4.0      4.750000
5.0      9.583333
6.0     21.583333
7.0     32.666667
8.0     47.333333
9.0     57.416667
10.0    52.833333
11.0    40.666667
12.0    22.333333
13.0    16.916667
14.0    10.500000
15.0     8.583333
16.0     5.583333
17.0     4.833333
18.0     3.818182
19.0     2.909091
20.0     2.888889
21.0     1.555556
22.0     1.200000
23.0     1.125000
24.0     1.000000
25.0     1.000000
26.0     1.000000
27.0     1.000000
29.0     1.000000
Name: id, dtype: float64


month
1     333
2     358
3     390
4     342
5     382
6     343
7     365
8     327
9     350
10    350
11    309
12    331
Name: id, dtype: int64

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
-You may create or drop any features you want, except for the features which use age or number of rings (e.g. average number of rings from a clam of high class).

In [37]:
df.columns

Index(['id', 'FN', 'SN', 'LN', 'Sex', 'Length', 'Diam', 'Height', 'Whole',
       'Shucke', 'Viscera', 'Shell', 'Rings', 'full_name', 'age_in_years',
       'area', 'density', 'age_cat', 'high_class', 'year', 'month', 'day',
       'weekday', 'age10'],
      dtype='object')

In [38]:
# Q21 Drop all generated features which used age or number of rings column, e.g. rings_month, age_cat.
Y = df["age_in_years"].values

good_columns = ['id', 'FN', 'SN', 'LN', 'Sex', 'Length', 'Diam', 'Height', 'Whole',
       'Shucke', 'Viscera', 'Shell', 'full_name', 'area', 'density', 'high_class']
Xdf = df[good_columns]

In [39]:
# Optionally create or drop any features 

#I will drop 'id', 'FN', 'SN', 'LN', 'full_name' beacuse they are not informative. 'area', 'density' - beacuse they correlate with initial 'Length', 'Diam'.
#'Whole' - because it correlates with other weights. 'high_class' - because it represents an outlier (1 observation contains "True"). Also I will create dummies for 'Sex', then I will drop 'Sex'.

Xdf.drop(labels=['id', 'FN', 'SN', 'LN', 'full_name', 'area', 'density', 'high_class', 'Whole'], axis=1, inplace=True)

dum_sex = pd.get_dummies(Xdf['Sex'])
Xdf.drop(labels='Sex', axis=1, inplace=True)

Xdf = pd.concat([Xdf, dum_sex], axis=1)

C:\Users\Vlad\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [40]:
#I had not liked my prediction. So, I decided to check the correltaion to see if there any.
pd.concat((Xdf, df[['age_in_years']]), axis=1).corr()

,Length,Diam,Height,Shucke,Viscera,Shell,F,I,M,age_in_years
Length,1.000000,0.986749,0.825914,0.897830,0.902800,0.897764,0.309676,-0.551124,0.236206,0.556148
Diam,0.986749,1.000000,0.832052,0.892971,0.899524,0.905450,0.318674,-0.564140,0.240163,0.573877
Height,0.825914,0.832052,1.000000,0.772234,0.795471,0.815667,0.296223,-0.515650,0.214764,0.555279
Shucke,0.897830,0.892971,0.772234,1.000000,0.931882,0.882506,0.264160,-0.521763,0.251558,0.420569
Viscera,0.902800,0.899524,0.795471,0.931882,1.000000,0.907559,0.308438,-0.556207,0.242326,0.503574
Shell,0.897764,0.905450,0.815667,0.882506,0.907559,1.000000,0.306311,-0.546862,0.235313,0.626959
F,0.309676,0.318674,0.296223,0.264160,0.308438,0.306311,1.000000,-0.464323,-0.512520,0.249666
I,-0.551124,-0.564140,-0.515650,-0.521763,-0.556207,-0.546862,-0.464323,1.000000,-0.522525,-0.435674
M,0.236206,0.240163,0.214764,0.251558,0.242326,0.235313,-0.512520,-0.522525,1.000000,0.182046
age_in_years,0.556148,0.573877,0.555279,0.420569,0.503574,0.626959,0.249666,-0.435674,0.182046,1.000000

In [41]:
#I asume, that I can drop 'Length' because it's very well correlated with 'Diam' and has lower correlation with target than 'Diam'.
#Also I guess I can drop one or two of left weights features.
#There is a small correaltion between target and dummies got out of the feature 'Sex'.

#UPD: I proceed different combinations of dropping such features like: 'Viscera, 'Shucke', 'Length', 'F', 'I' and 'M'.
#Then I realized, that my test r_score won't be affected if I drop 'Viscera, 'Length', 'F', 'I' and 'M'. So do I.
#In the end of the notebook I will leave different values of r_score's experiments.

Xdf.drop(labels=['Length', 'Viscera', 'I', 'F', 'M'], axis=1, inplace=True)

In [42]:
#Now I have only 4 features left.
Xdf.head()

    Diam  Height  Shucke   Shell
0  0.350   0.130  0.2450  0.1405
1  0.375   0.140  0.2420  0.1790
2  0.415   0.145  0.3325  0.2850
3  0.480   0.150  0.4980  0.3300
4  0.390   0.145  0.2315  0.2550

In [43]:
# Q22 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=7

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(Xdf, Y, test_size=0.33, random_state=7)

q22 = []
q22.append(X_train.shape[0])
q22.append(X_test.shape[0])

print(q22)

[2800, 1380]

In [44]:
# Fit predictive regression models.
# Q23.1 Use linear regression with l2 regularization (Ridge regression)

#I did not quit get what am I supposed to do: just train? Ok, then I left all the parameters as a defalut.
from sklearn.linear_model import Ridge
rr = Ridge()
rr.fit(X_train, y_train)

# Q23.2 Use decision tree regression
from sklearn.tree import DecisionTreeRegressor
tr = DecisionTreeRegressor()
tr.fit(X_train, y_train);

In [45]:
# Use grid search to select optimal hyperparamters of your models.
from sklearn.model_selection import GridSearchCV

# Q24.1 Alpha for a ridge regression

hyp_param_rr = [{'alpha': 10 ** np.linspace(-4, 4, 15)}]

grid_rr = GridSearchCV(rr, hyp_param_rr, cv=4)
grid_rr.fit(X_train, y_train)

y_hat_rr = grid_rr.predict(X_test)


print('Ridge Regression. Best estimator:', grid_rr.best_params_)
print('Ridge Regression. Score of best etimator:', grid_rr.best_score_)

# Q24.2 Depth for the tree

hyp_param_tr = [{'max_depth': list(range(2, 25, 2))}]

grid_tr = GridSearchCV(tr, hyp_param_tr, cv=4)
grid_tr.fit(X_train, y_train)

y_hat_tr = grid_tr.predict(X_test)

print('\nTree Regression. Best estimator:', grid_tr.best_estimator_)
print('Tree Regression. Score of best etimator:', grid_tr.best_score_)

Ridge Regression. Best estimator: {'alpha': 1.0}
Ridge Regression. Score of best etimator: 0.5079285420319386

Tree Regression. Best estimator: DecisionTreeRegressor(max_depth=6)
Tree Regression. Score of best etimator: 0.4846313216040434

In [46]:
# Compute train and test mean squared error for your best models (list of float).
from sklearn.metrics import mean_squared_error

# Q25.1 Train, test MSE using linear regression with l2 regularization
MSE_train_rr = mean_squared_error(y_train, grid_rr.predict(X_train))
MSE_test_rr = mean_squared_error(y_test, y_hat_rr)

MSE_rr_list = []
MSE_rr_list.append(MSE_train_rr)
MSE_rr_list.append(MSE_test_rr)
print(MSE_rr_list)

# Q25.2 Train, test MSE using decision tree regression
MSE_train_tr = mean_squared_error(y_train, grid_tr.predict(X_train))
MSE_test_tr = mean_squared_error(y_test, y_hat_tr)

MSE_tr_list = []
MSE_tr_list.append(MSE_train_tr)
MSE_tr_list.append(MSE_test_tr)
print(MSE_tr_list)

[5.088994228474065, 5.242267560567709]
[4.092383159419018, 5.859663115733092]

In [47]:
# Compute train and test R^2 for your best models (list of float).
from scipy.stats import pearsonr

# Q26.1 Train, test R^2 using linear regression with l2 regularization
r2_train_rr = pearsonr(y_train, grid_rr.predict(X_train))
r2_test_rr = pearsonr(y_test, y_hat_rr)

r2_rr_list = []
r2_rr_list.append(r2_train_rr[0])
r2_rr_list.append(r2_test_rr[0])
print(r2_rr_list)

# Q26.2 Train, test R^2 using decision tree regression
r2_train_tr = pearsonr(y_train, grid_tr.predict(X_train))
r2_test_tr = pearsonr(y_test, y_hat_tr)

r2_tr_list = []
r2_tr_list.append(r2_train_tr[0])
r2_tr_list.append(r2_test_tr[0])
print(r2_tr_list)

[0.7168953367659101, 0.7006469252297316]
[0.779859499817065, 0.6656219030864924]

In [50]:
# Q27 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).
print('Ridge regression coefficents:', rr.coef_)
print('Tree regression coefficients:', tr.feature_importances_)
print('\nI have only four features because all the others are not important:')
print("['Diam', 'Height', 'Shucke', 'Shell']")

Ridge regression coefficents: [ 10.72118034   8.34102784 -10.42630276  19.79047386]
Tree regression coefficients: [0.09189396 0.08227494 0.2464286  0.5794025 ]

I have only four features because all the others are not important:
['Diam', 'Height', 'Shucke', 'Shell']

## Differnet R2 scores for different sets of features 
### If you drop 'Viscera, 'Length', 'I', 'F' and 'M', pearson correlation will drop just for a 1%!

#### Drop nothing
Ridge: (0.7163671432905314, 1.1816281929881882e-217)

Tree: (0.667922526472692, 5.2511668152710506e-179)

#### Drop 'Viscera, 'Length', 'I', 'F' and 'M
Ridge: (0.7021659901187958, 1.6370954187843943e-205)

Tree: (0.6706948839111615, 5.091083843819636e-181)

#### Drop 'Length'
Ridge: (0.7021454055472801, 1.7027398707771549e-205)

Tree: (0.6714194802140198, 1.502970474516295e-181)

#### Drop 'Shucke' and 'Viscera
Ridge: (0.6346074849545174, 2.0537734184068776e-156)

Tree: (0.6260906927384127, 4.464974541584123e-151)

#### Drop 'Length', 'I', 'F' and 'M
Ridge: (0.7021363550244751, 1.7324271798862437e-205)

Tree: (0.6731077746559256, 8.640038003933342e-183)

#### Drop 'Shucke, 'Length', 'I', 'F' and 'M
Ridge: (0.6559698330283377, 1.435693426447904e-170)

Tree: (0.6302506164727664, 1.158108225475099e-153)

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells